@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo ao sistema</h1>
    <p>Desenvolver sistemas sempre é importnata para nosso crescimento profissional</p>
</div>
