@{
    ViewData["Title"] = "Editar o Cliente";
}

<div class="text-center">
  <h1 class="display-4">Editar o Cliente</h1>
</div>

<form>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" aria-describedby="nome" placeholder="Diogite o nome">
  </div>
 <div class="form-group">
    <label for="e-mail">Email:</label>
    <input type="text" class="form-control" aria-describedby="email" placeholder="Diogite o e-mail">
  </div>
  <div class="form-group">
    <label for="cpf">Cpf:</label>
    <input type="text" class="form-control" aria-describedby="cpf" placeholder="Diogite o cpf">
  </div>
  <div class="form-group">
    <label for="profissao">Profissão:</label>
    <input type="text" class="form-control" aria-describedby="profissao" placeholder="Diogite o profisão">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar Cliente</button>
</form>