<form>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" aria-describedby="nome" placeholder="Diogite o nome">
  </div>
  <button type="submit" class="btn btn-primary">Pesquisar Cliente</button>
</form>
<br/>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cpf</th>
      <th scope="col">Profissão</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Paulo</td>
      <td>paulo@gmail.com</td>
      <td>1234567890</td>
      <td>odontologista</td>
      <td>
          <a role="button" asp-controller="Cliente" asp-action="Editar" class="btn btn-primary">Editar</a>
           <a role="button" asp-controller="Cliente" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Rafael</td>
      <td>rafael@gmail.com</td>
      <td>0987654321</td>
      <td>desenvolvedor C#</td>
       <td>
          <a role="button" asp-controller="Cliente" asp-action="Editar" class="btn btn-primary">Editar</a>
           <a role="button" asp-controller="Cliente" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>larry@gmail.com</td>
      <td>7890654321</td>
      <td>desenvolvedor PHP</td>
       <td>
          <a role="button" asp-controller="Cliente" asp-action="Editar" class="btn btn-primary">Editar</a>
           <a role="button" asp-controller="Cliente" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
      </td>
    </tr>
  </tbody>
</table>